<header>
	<h1 class="title">
    <a href="{{ site.baseurl }}/">
      DANIELROJAS<span class="shade2">.<span style="font-size:62%">NET</span></span>
     </a></h1>
</header>

<!-- <aside>
	<div class="container"> -->
	{% if page.title %}
		<nav>
			<table width="100%">
				<tr>
					<td align="left">
						<a href="/">Home</a> | 
					<!-- </td>
					<td align="left"> -->


			<!-- <a href="/">Home</a> -->
				{% assign subcats = site.pages | where:"category",page.category" %}
				{% for eachpage in subcats %}
				<a href="{{ eachpage.url }}">{% if eachpage.shorttitle %}{{ eachpage.shorttitle }}{% else %}{{ eachpage.title }}{% endif %}</a>
				{% if forloop.first == true %}
				&gt;
				{% endif %}
				{% if forloop.last == false and forloop.first == false %}
				&middot;
				{% endif %}
				{% endfor %}

			</td>
			<td align="right">
				{% if page.category == "personal" %}
				<a href="{{ "/professional" }}"> PROFESSIONAL </a>
				{% else if page.category == "professional" %}
				<a href="{{ "/personal" }}"> PERSONAL </a>
				{% endif %}
			</td>
		</tr>
	</table>


		</nav>
		{% endif %}
	<!-- </div>
</aside> -->
