<header>
	<h1 class="title">
    <a href="{{ site.baseurl }}/">
      DANIELROJAS<span class="shade2">.<span style="font-size:62%">NET</span></span>
     </a></h1>
</header>

<!-- <aside>
	<div class="container"> -->
	{% if page.title %}
		<nav>
			<a href="{{ site.baseurl }}">Home</a>
				{% for eachpage in site.pages %} {% if eachpage.title and eachpage.category == page.category %}
				&middot; <a href="{{ eachpage.url }}">{% if eachpage.shorttitle %}{{ eachpage.shorttitle }}{% else %}{{ eachpage.title }}{% endif %}</a>
				{% endif %}
				{% endfor %}
				{% if page.category == "personal" %}
				&middot; <a href="{{ "/freelance" }}"> PROFESSIONAL </a>
				{% else if page.category == "professional" %}
				&middot; <a href="{{ "/index" }}"> PERSONAL </a>
				{% endif %}
		</nav>
		{% endif %}
	<!-- </div>
</aside> -->
