---
layout: default
---

<article class="bubble">
  {% if page.category == "personal" %}<a href="/projects"><h1>Personal projects</h1></a>{% endif %}

  <div style="text-align:center">
  {% if page.image %}
  <div style="padding-top:2em"><img src="/projectimages/{{ page.image }}" height="500" class="project-image" /></div>
  {% endif %}
  <h2>{{page.title}}</h2>
  <div>{{ page.summary }}</div>
  <ul style="list-style:none">
  {% if page.github %}<li><a href="{{page.github}}"><i class='fa fa-github fa-2x'></i> GitHub repository</a></li>{% endif %}
  {% if page.hackaday %}<li><a href="{{page.hackaday}}"><i class='fa fa-rocket fa-2x'></i> Hackaday.io project page</a></li>{% endif %}
  {% if page.youtube %}<li><a href="{{page.youtube}}"><i class='fa fa-youtube-play fa-2x'></i> YouTube video</a></li>{% endif %}
  {% if page.link %}<li><a href="{{page.link}}"><i class='fa fa-external-link fa-2x'></i> External link</a></li>{% endif %}
  </ul>
  </div>
<!-- {% if page.description and false %}
  <p>{{page.description}}</p>
  {% endif %} -->

  </div>
</article>
