---
layout: default
---

<article class="bubble">
  <!-- {% if page.category == "personal" %}<a href="/projects"><h3 style="text-align:right;">Personal projects</h3></a>{% endif %} -->

  <div style="text-align:center">
  {% if page.image %}
  <div style="padding-top:2em"><img src="/projectimages/{{ page.image }}" height="500" class="project-image" /></div>
  {% endif %}
  <h2>{{page.title}}</h2>
  <div>{{ page.summary }}</div>


  <div style="display:flex;flex-wrap:wrap;align-items:center;justify-content:center;">
  {% if page.github %}<div style="text-align:center;padding:1em;min-width:15%"><a href="{{page.github}}"><i class='fa fa-github fa-2x'></i><br /> GitHub repository</a></div>{% endif %}
  {% if page.hackaday %}<div style="text-align:center;padding:1em;min-width:15%"><a href="{{page.hackaday}}"><i class='fa fa-rocket fa-2x'></i><br /> Hackaday.io project page</a></div>{% endif %}
  {% if page.youtube %}<div style="text-align:center;padding:1em;min-width:15%"><a href="{{page.youtube}}"><i class='fa fa-youtube-play fa-2x'></i><br /> YouTube video</a></div>{% endif %}
  {% if page.flickr %}<div style="text-align:center;padding:1em;min-width:15%"><a href="{{page.flickr}}"><i class='fa fa-flickr fa-2x'></i><br /> Flickr album</a></div>{% endif %}
  {% if page.link %}<div style="text-align:center;padding:1em;min-width:15%"><a href="{{page.link}}"><i class='fa fa-external-link fa-2x'></i><br /> External link</a></div>{% endif %}
  </div>

{% if page.category %}
  Category:   {% if page.category == "personal" %}<a href="/personal">Personal projects</a>{% else %}Unclassified{% endif %}
  {% if page.subcategory %}
    {% case page.subcategory %}
    {% when 'engineering' %}
    {% assign var = 'Engineering' %}
    {% when 'designart' %}
    {% assign var = 'Design & Art' %}
    {% when 'fun' %}
    {% assign var = 'Fun' %}
    {% else %}
    {% assign var = 'Other' %}
    {% endcase %}
    > <a href="/{{ page.category }}/{{ page.subcategory }}">{{ var }}</a>
  {% endif %}
{% endif %}
  </div>


<!-- {% if page.description and false %}
  <p>{{page.description}}</p>
  {% endif %} -->

  </div>
</article>
